:root{
    --darkBlue: #152b40;
    --blackGrey: rgba(48, 48, 48, 0.767);

}

.pag{
    background-color: #c0d4e3;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 2vw; 
    justify-content: center;
    margin: 30px auto;
    width: 95%;
    max-width: 600px; 
}

.carta {
    width: 100%; 
    aspect-ratio: 2 / 2.8; 
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.carta.virada {
    transform: rotateY(180deg);
}

.texto2{
    margin: auto; 
    margin-top: 7%; 
    margin-bottom: 7%;
    text-align: center; 
    font-family: ubuntu, sans-serif; 
    font-size: 1.8em;
}

.frente, .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(48, 48, 48, 0.767);
    border: solid #ffffff;
}

.tras {
    background-color: var(--darkBlue);
    color: white;
    font-weight: bold;
    font-family: monaco, sans-serif;
}

.frente {
    background-color: #ffffff;
    transform: rotateY(180deg); 
    font-family: ubuntu, sans-serif;
    font-weight: bold;
}

button{
    padding: 15px;
    font-size: 1.4em;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: 0.4s;
    color: var(--darkBlue);
    background-color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
}

.texto {
    font-size: clamp(1.5em, 8vw, 3em);
    font-family: ubuntu, sans-serif;
    background-color: #ffffff;
    width: fit-content; 
    margin: 20px auto;
    text-align: center;
    border-radius: 30px;
    padding: 12px;
    color: var(--darkBlue);
}

.botao{
    display: inline-flex;   
    align-items: center;     
    justify-content: center; 
    text-decoration: none;   
    cursor: pointer;
    padding: 15px 25px;
    background-color: #ffffff;
    color: var(--darkBlue);
    border-radius: 25px;
    font-family: ubuntu, sans-serif;
    font-size: 1.2em;
    transition: 0.4s;
    text-align: center;
    min-width: 150px;
    font-weight: bold; 
    margin: 10px;
}

.botao:hover {
    text-decoration: none;
    background-color: var(--darkBlue);
    transform: scale(1.05);
    color: #ffffff;
    border: solid #ffffff;
}

.menu-inicial {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 15px;           
    margin-top: 30px;
    flex-wrap: wrap;         
}