.tabuleiro {
    display: grid;
    /* Criamos 5 colunas de 100px para caber suas 10 cartas */
    grid-template-columns: repeat(5, 100px); 
    gap: 15px;
    justify-content: center;
    margin: 50px auto;
}

.carta {
    width: 100px;
    height: 140px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s; /* Velocidade da animação */
    cursor: pointer;
}

/* Quando o JS adiciona a classe 'virada', a carta gira 180 graus */
.carta.virada {
    transform: rotateY(180deg);
}

.frente, .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta a parte de trás da div */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* A TRÁS é a face com o "?" que vemos primeiro */
.tras {
    background-color: #2c3e50;
    color: white;
}

/* A FRENTE é onde fica o emoji. Ela já começa virada! */
.frente {
    background-color: #ecf0f1;
    transform: rotateY(180deg); 
}

button{
    padding: 15px;
    font-size: 1.4em;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: 0.4s;
    color: white;
    background-color: #2c3e50;
}

.texto {
    font-size: 3em;
    font-family: ubuntu, sans-serif;
    border: #2c3e50;
    background-color: #2c3e50;
    width: 30%;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    color: white;
}